<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h3>Your Bid for '<%= @bid.task_title %>' was not accepted.</h3>
  <p>
    <p><b><%= @setting.name %></b>, We're sorry but another bid has been accepted by <%= @bid.task_owner_name %></p>
    <p>
      There are plenty of other projects ready for bid on <%= site_name %>, so  <a href="<%= notifications_url %>/#/tasks/search">Search for a Project now</a>. Good Luck!

      <p>
       Your feedback is always welcome.
       <a href="mailto:<%= @feedback_mailto %>">Drop us a line</a> any time.
       <p>
        Sincerely,
      </p>
      <p>
        <em><%= site_signature %></em>
      </p>
    </body>
    </html>
