<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h3><%= @bid.owner_name %> has Bid on '<%= @bid.task_title %>'</h3>
  <p>
    Hi <b><%= @bid.task_owner_name %></b>
  </p>
  <p>
    <%= @bid.owner_name %>さんがあなたのタスクに入札しました。
    あなたの入札を<a href="<%= notifications_url %>/#/bids/<%= @bid.id %>">確認してください。</a>. 入札額を直ちに受け入れるか、「コメント」の欄を使って質問をすることが出来ます。
  </p>
  <p>
    また、入札者の評価、共通のコンタクトや、その他の情報を<a href="<%= notifications_url %>/#/profile/<%= @bid.owner %>"><%= @bid.owner_name %>'s Profile</a>入札者のプロフィールページで確認することができます。
  </p>
  <p>
    ご質問等ございましたら、お気軽にお客様サポートセンターまで<a href="mailto:<%= @feedback_mailto %>">ご連絡</a>ください。
  </p>
  <p>
    Sincerely,
  </p>
  <p>
    <em><%= site_signature %></em>
  </p>
</body>
</html>
