<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>あなたの入札が受け入れられました。</h3>
    <p>
    <p><b><%= @setting.name %></b>さま、おめでとうございます。あなたの「<%= @work_order.task_title %>」への入札は受諾されました。</p>
    <p>
        あなたの作業進行の記録のために新規ワークオーダーが作成されました。ここにクリックして
        <a href="<%= notifications_url %>/#/work_orders/<%= @work_order._id %>">ワークオーダーのページにアクセスすることができます。</a>.
        <p>
    	下記の手順を参考にして次のステップに進んでください。
    	<ul>
    		<li>
                ワークオーダーのページにあるリンクを利用して、プロジェクトの詳細や添付ファイルを参照してください。
            </li>
            <li>
                ワークオーダーのページにあるプロジェクトオーナーの<b><%= @work_order.task_owner_name %></b>さまと連絡をとり、最新の情報を確認してください。
            </li>
            <li>
                必要であれば、予想完了日などの情報を更新してください。スケジュール情報などを頻繁に更新することにより、プロジェクトオーナーに常に最新の情報を提供されることをお勧めします。
            </li>
            <li>
                プロジェクトのすべての作業が完了次第、「作業完了」の項目にチェックマークを入れてください。プロジェクトオーナーに作業完了の通知が送信され、支払いのプロセスが開始されます。
            </li>
            <li>
                上記の過程に慣れたら、<%= site_name %>にアクセスして、<a href="<%= notifications_url %>/#/tasks/search">あなたの次のプロジェクトを探すことができます。</a>
            </li>
    	</ul>
    <p>
        あなたのワークオーダーのページにアクセスするには次のリンクをクリックしてください。<br>
        <a href="<%= notifications_url %>/#/work_orders/<%= @work_order._id %>"><h3><%= @work_order.task_title %></h3></a>

        <p>
    	ご質問等ございましたら、お気軽に
    	<a href="mailto:<%= @feedback_mailto %>">弊社サポートセンター</a>までご連絡ください。
    <p>
    弊社サービスをご利用いただき、誠にありがとうございました。
  </p>
  <p>
    <em><%= site_signature %></em>
  </p>
  </body>
</html>
