<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h3><%= @bid.owner_name %> さんが「<%= @bid.task_title %>」の入札内容を更新しました。</h3>
  <p>
    <b><%= @bid.task_owner_name %></b>さま、
  </p>
  <p>
    <%= @bid.owner_name %>さんが上記の仕事の入札内容を更新しました。
    <a href="<%= notifications_url %>/#/bids/<%= @bid.id %>">ここをクリックして</a>入札内容を確認してください。入札を直ちに受け入れるか、「コメント」欄を使って質問をすることができます。
  </p>
  <p>
    入札者の評価、共通のコンタクトや他の情報などは<a href="<%= notifications_url %>/#/profile/<%= @bid.owner %>"><%= @bid.owner_name %>入札者プロフィールのページ</a>で確認することができます。
  </p>
  <p>
    ご質問等ございましたら、お客様サポートセンターまでお気軽に<a href="mailto:<%= @feedback_mailto %>">ご連絡ください。</a>
  </p>
  <p>
    弊社サービスをご利用いただき、誠にありがとうございました。
  </p>
  <p>
    <em><%= site_signature %></em>
  </p>
</body>
</html>
