<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h3><%= site_name  %>のサイト更新のお知らせ</h3>
  <p>
    <b><%= @message['to_name'] %></b>さま、<p />
    あなたのコンタクトの<b><%= @message['author_name'] %></b>さんが<a href="<%= @link %>"><%= @message['title'] %></a>のメッセージを書き込みました。
  </p>

  <br />
  <p>
    <b><i>"<%= @details.html_safe %>"</i></b>
  </p>
  <hr>
  <p>
    このメールに直接返信されるか、サイトの<a href="<%= @link %>"><%= @message['title'] %></a>にアクセスされて「質問とコメント」の欄に返答メッセージを書き込むこともできます。あなたの返答は<%= @message['author_name'] %>さんに直ちに送信されます。
  </p>
  <p>
   ご質問等ございましたら、弊社お客様サポートセンターまでお気軽に<a href="mailto:<%= @feedback_mailto %>">ご連絡ください。</a>
  </p>
  <p>
    当社サービスをご利用いただき誠にありがとうございました。
  </p>
  <p>
    <em><%= site_signature %></em>
  </p>
  <% if @message['token'] %>
    <span style="color:#999999; background-color:#F5F5F5; border: 1px solid #e5e5e5; padding: 0 8px;">[taskit-token=<%= @message['token'] %>] 返信の際には必ず記号などを含めた全文を削除せずに送信してください。</span>
  <% end %>
</body>
</html>
