<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h3>Update from <%= site_name  %></h3>
  <p>
    <b><%= @message['to_name'] %></b>さま、<p />
    あなたのコンタクトの<b><%= @message['author_name'] %></b>さんが<a href="<%= @link %>"><%= @message['title'] %></a>に下記のメッセージを残されました。
  </p>

  <br />
  <p>
    <b><i>"<%= @details.html_safe %>"</i></b>
  </p>
  <hr>
  <p>
    このメールに直接返信されるか、そのサイトに<a href="<%= @link %>"><%= @message['title'] %></a>アクセスされて「質問とコメント」の欄に返答メッセージを書き込むこともできます。あなたの返答は<%= @message['author_name'] %>さんに直ちに送信されます。
  </p>
  <p>
   ご質問等ございましたら、
   <a href="mailto:<%= @feedback_mailto %>">お客様サポートセンターまでお気軽に</a>ご連絡ください。
  </p>
  <p>
    弊社サービスをご利用いただき誠にありがとうございました。
  </p>
  <p>
    <em><%= site_signature %></em>
  </p>
  <% if @message['token'] %>
    <span style="color:#999999; background-color:#F5F5F5; border: 1px solid #e5e5e5; padding: 0 8px;">[taskit-token=<%= @message['token'] %>] ここから先を決して返信メールから削除しないでください。</span>
  <% end %>
</body>
</html>
