<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h3>あなたのワークオーダー「<%= @work_order.task_title %>」のドキュメントが更新されました。</h3>
  <p>
    <% if @changes %>
    このワークオーダーに関連付けされた次のドキュメントが更新されたことをお知らせします。
    <ul>
      <% @changes.each do |doc| %>
      <li><%= doc %></li>
      <% end %>
    </ul>
    <% else %>
    このワークオーダーに関連付けされたドキュメントが更新または削除されたことをお知らせします。
    <% end %>
  </p>
  ワークオーダーに今すぐアクセスする。<br>
  <a href="<%= notifications_url %>/#/work_orders/<%= @work_order._id %>"><h3><%= @work_order.task_title %></h3></a>
  <p>
    ご質問等ございましたら、お客様サポートセンターまで
    <a href="mailto:<%= @feedback_mailto %>">お気軽に</a>ご連絡ください。
  </p>
  <p>
    弊社サービスをご利用いただき誠にありがとうございました。
  </p>
  <p>
    <em><%= site_signature %></em>
  </p>
</p>
</body>
</html>
