<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h3><%= @bid.owner_name %>さんが「<%= @bid.task_title %>」についての質問を投稿しました。</h3>
  <p>
    <b><%= @bid.task_owner_name %>さま、</b>
  </p>
  <p>
    <%= @bid.owner_name %>さんはこのプロジェクトに入札するにあたり、いくつかの質問を投稿されました。
    質問を見るには<a href="<%= notifications_url %>/#/bids/<%= @bid.id %>"><b>ここをクリック</b></a>して入札にアクセスしてください。「質問とコメント」の欄に記載されているどの質問にでも返答することができますが、もし返答の内容を一般公開されることを希望される場合は、その内容を<a href="<%= notifications_url %>/#/tasks/<%= @bid.task_id %>" ><%= @bid.task_title %>プロジェクト</a>
  </p>の内容事項またはコメントの部分に投稿されることをお勧めします。
  <p>
    またここをクリックして<a href="<%= notifications_url %>/#/profile/<%= @bid.owner %>">入札者<%= @bid.owner_name %>さんの評価、共通のコンタクトや他の情報などをプロフィールページにてご覧になることがでくます。</a>
  </p>
  <p>
    ご質問等ございましたら、弊社お客様サポートセンターまでお気軽に<a href="mailto:<%= @feedback_mailto %>">ご連絡ください。</a>
  </p>
  <p>
    当社サービスをご利用いただき、誠にありがとうございました。
  </p>
  <p>
    <em><%= site_signature %></em>
  </p>
</body>
</html>
