<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h3><%= @bid.owner_name %>さんが「<%= @bid.task_title %>」についての質問を投稿しました。</h3>
  <p>
    <b><%= @bid.task_owner_name %>さま、</b>
  </p>
  <p>
    <%= @bid.owner_name %>さんはこのプロジェクトに入札するにあたり、質問を投稿されました。
    質問を見るにはここを<a href="<%= notifications_url %>/#/bids/<%= @bid.id %>"><b>クリックしてください。</b></a> 「質問とコメント」の欄に記載されているどの質問にでも返答することができます。もし返答の内容を一般公開されることを希望される場合は、その内容をプロジェクトの内容事項またはコメントの部分に投稿されることをお勧めします。<a href="<%= notifications_url %>/#/tasks/<%= @bid.task_id %>" ><%= @bid.task_title %></a>
  </p>
  <p>
    またここをクリックして<a href="<%= notifications_url %>/#/profile/<%= @bid.owner %>">入札者<%= @bid.owner_name %>さんの評価、共通のコンタクトや他の情報などをプロフィールページにてご覧になることがでくます。</a>
  </p>
  <p>
    ご質問等ございましたら、お客様サポートセンターまで
    <a href="mailto:<%= @feedback_mailto %>">お気軽に</a>ご連絡ください。
  </p>
  <p>
    弊社サービスをご利用いただき誠にありがとうございました。
  </p>
  <p>
    <em><%= site_signature %></em>
  </p>
</body>
</html>
