<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h3><%= @bid.owner_name %> has posted an Inquiry for '<%= @bid.task_title %>'</h3>
  <p>
    Hi <b><%= @bid.task_owner_name %></b>
  </p>
  <p>
    <%= @bid.owner_name %> is considering bidding for this Project and has sent an inquiry.
    Please take some time to <a href="<%= notifications_url %>/#/bids/<%= @bid.id %>"><b>review the inquiry now</b></a>. You may answer any questions in the Questions & Comments section on this Inquiry. If you would prefer to provide answers for all viewers to see, we suggest you put that information into the Description or Comments sections of the Project, <a href="<%= notifications_url %>/#/tasks/<%= @bid.task_id %>" ><%= @bid.task_title %></a>
  </p>
  <p>
    You may also want to check out <a href="<%= notifications_url %>/#/profile/<%= @bid.owner %>"><%= @bid.owner_name %>'s Profile</a> for ratings, reviews, common contacts and other information.
  </p>
  <p>
    Your feedback is always welcome.
    <a href="mailto:<%= @feedback_mailto %>">Drop us a line</a> any time.
  </p>
  <p>
    Sincerely,
  </p>
  <p>
    <em><%= site_signature %></em>
  </p>
</body>
</html>
