<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
    <h3>「<%= @work_order.task_title %>」への支払いが行われました。</h3>
    <p>
        現時点で、お客様のワークオーダーは完了しました。お客様のご期待に沿うことのできた作業を<b><%= @work_order.task_owner_name %>さん</b>が行われたことをご確認ください。
    </p>
    <p>
        <%= site_name %>で新しいプロジェクトを始められる準備ができたら、<a href="<%= notifications_url %>/#/tasks/search">ここをクリックして</a>次のプロジェクトを検索してください。
    </p>
    <p>
        ご質問等ございましたら、お客様サポートセンターまでお気軽に<a href="mailto:<%= @feedback_mailto %>">ご連絡ください。</a>
    </p>
    <p>
    弊社サービスをご利用いただき、誠にありがとうございました。
  </p>
  <p>
    <em><%= site_signature %></em>
  </p>
</body>
</html>
