<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
    <h3>「<%= @work_order.task_title %>」への支払いが行われました。</h3>
    <p>
        現時点で、お客様のワークオーダーは完了しました。お客様のご期待に沿うことのできた作業を<b><%= @work_order.task_owner_name %>さんが行われたことを</b>ご確認ください。
    </p>
    <p>
        新しいプロジェクトを始められる準備ができたら、<%= site_name %>をクリックして<a href="<%= notifications_url %>/#/tasks/search">次のプロジェクトを検索してください。</a>
    </p>
    <p>
        ご質問等ございましたら、お客様サポートセンターまで
        <a href="mailto:<%= @feedback_mailto %>">お気軽に</a>ご連絡ください。
    </p>
    <p>
    弊社のサービスをご利用いただき誠にありがとうございました。
  </p>
  <p>
    <em><%= site_signature %></em>
  </p>
</body>
</html>
