<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h2><%= site_name %>へようこそ。</h2>
  <p>
    <b><%= @user.name %>さま</b>,
  </p>
  <p>
    ジュニパー・プロフェッショナル・サービスのマーケットプレイスにご参加いただき、ありがとうございました。このマーケットプレイスでは、有能な認定されたジュニパー・プロフェッショナル・サービス・スペシャリスト（コンサルタント）を見つけることができます。</p>
  <p>
    ここに参加しているエリート・コンサルタントはすべて、その多くの経験を通してジュニパー・ネットワークの製品やソリューションを提供することができ、またそれぞれの正式な資格取得を得ています。</p>
  <p>
    お客様のニーズに合ったサービスをご提供できるよう、コンサルタントは常にオンラインでスタンバイしています。このマーケットプレイスを通して、お客様のユニークなニーズに合ったコンサルタントを探し出すことができます。
  </p>
  <p>
    下記のヒントを参考にして、コンサルタント探しを始めてみましょう。
  </p>
  <ul>
    <li><a href="<%= notifications_url %>/#/companies">ここをクリックして</a>コンサルタントのリストを見ることができます。</li>
    <li>お客様のプロジェクトをお気に入りのコンサルタントと共有するには<a href="<%= notifications_url %>/#/tasks/new">新しいプロジェクトを作成する</a>をクリックしてください。</li>
    <li>もしあなたが正式なプロフェッショナル・サービス・スペシャリスト（コンサルタント）である場合は、<a href="<%= notifications_url %>/#/tasks/search">プロジェクトを探す</a>をクリックして、新しいクライアントを探してください。</li>
  </ul>
  <p>
    ご意見などございましたら、お客様サポートセンターまでお気軽に<a href="mailto:<%= feedback_mailto %>">ご連絡ください。</a>
  </p>
  <p>
    弊社サービスをご利用いただき、誠にありがとうございました。
  </p>
  <p>
    <em><%= site_signature %></em>
  </p>
</body>
</html>
