<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
    <h3>「<%= @work_order.task_title %>」の仕事が受諾されました。</h3>
    <p>
        この時点で<b><%= @work_order.task_owner_name %></b>さんに、レビューの書き込みと支払いの依頼が発信されました。
        ワークオーダーを見るには<br>
        <a href="<%= notifications_url %>/#/work_orders/<%= @work_order._id %>"><h3><%= @work_order.task_title %></h3>ここをクリックしてください。</a>
    </p>
    <p>
       ご意見などございましたら、弊社お客様サポートセンターまで<a href="mailto:<%= @feedback_mailto %>">お気軽に</a>ご連絡ください。
   </p>
   <p>
    当社サービスをご利用いただき、誠にありがとうございました。
  </p>
  <p>
    <em><%= site_signature %></em>
  </p>
</body>
</html>
