<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
    <h3>Work has started on '<%= @work_order.task_title %>'</h3>
    <p>
        A Work Order has been created to track progress on this task. You can
        <a href="<%= notifications_url %>/#/work_orders/<%= @work_order._id %>">jump to it now</a>.
    </p>
    <p>
        At this stage, the next steps are:
        <ul>
            <li>
                Check the estimated completion date on the work order.
            </li>
            <li>
                Get in touch with <b><%= @work_order.bid_owner_name %></b> directly via the contact information on the work order.
            </li>
            <li>
                Hop back on <%= site_name %> and <a href="<%= notifications_url %>/#/tasks/new">Create your next Project</a>
            </li>
        </ul>
    </p>
    <p>
        Your feedback is always welcome.
        <a href="mailto:<%= @feedback_mailto %>">Drop us a line</a> any time!
    </p>
   <p>
    Sincerely,
  </p>
  <p>
    <em><%= site_signature %></em>
  </p>
</body>
</html>
