<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
    <h3>「<%= @work_order.task_title %>」の仕事が開始されました。</h3>
    <p>
        このタスクの進行状況を記録するためのワークオーダーが作成されました。<a href="<%= notifications_url %>/#/work_orders/<%= @work_order._id %>">ここをクリックして</a>ワークオーダーにアクセスすることができます。
    </p>
    <p>
        下記のステップを参考にして作業を進めてください。
        <ul>
            <li>
                ワークオーダーの作業完了予定日を確認する。
            </li>
            <li>
                ワークオーダーの連絡情報を参照のうえ<b><%= @work_order.bid_owner_name %>さんに</b>コンタクトをとり、作業内容を確認する。
            </li>
            <li>
                <%= site_name %>で新しいプロジェクトを作成するには、<a href="<%= notifications_url %>/#/tasks/new">新しいプロジェクトを作成する</a>をクリックしてください。
            </li>
        </ul>
    </p>
    <p>
        ご意見などございましたら、お客様サポートセンターまでお気軽に<a href="mailto:<%= @feedback_mailto %>">ご連絡ください。</a>
    </p>
   <p>
    弊社サービスをご利用いただき、誠にありがとうございました。
  </p>
  <p>
    <em><%= site_signature %></em>
  </p>
</body>
</html>
