<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
    <h3>「<%= @work_order.task_title %>」の仕事が完了しました。</h3>
    <p>
        この作業の進行状況を記録するためのワークオーダーが作成されました。<a href="<%= notifications_url %>/#/work_orders/<%= @work_order._id %>">ここをクリックして</a>ワークオーダーにアクセスすることができます。
    </p>
    <p>
        以降の手順に従ってプロセスを完了してください。
        <ul>
          <li>
            あなたのワークオーダーの「仕事を受け入れる」のボックスにチェックマークをいれる。
        </li>
        <li>
            <b><%= @work_order.bid_owner_name %></b>さんの仕事の評価をする。
        </li>
        <li>
            ワークオーダーから「支払いをする」をクリックして支払いを開始する。
            クレジットカードのを利用して直接支払いをするか、請求書の送信をリクエストすることにより、TaskITを通して電子振込をすることもできます。コンサルタントの<b><%= @work_order.bid_owner_name %></b>さんには、支払いのプロセスが開始された旨の通知メールが送信されます。
        </ul>
    </p>
    あなたのワークオーダーにアクセスするには<br>
    <a href="<%= notifications_url %>/#/work_orders/<%= @work_order._id %>"><h3><%= @work_order.task_title %></h3>ここをクリックしてください。</a>
    <p>
        ご意見などございましたら、お客様サポートセンターまでお気軽に<a href="mailto:<%= @feedback_mailto %>">ご連絡ください。</a></p>
    <p>
    弊社サービスをご利用いただき、誠にありがとうございました。
  </p>
  <p>
    <em><%= site_signature %></em>
  </p>
</body>
</html>
